body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

a {
    text-decoration: none;
    color: inherit;
}

table {
    width: 90%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, ; */
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

thead {
    background-color: deepskyblue;
    text-align: center;
}

thead td{
    height: 40px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

tbody {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

tbody td {
    text-align: center;
    height: 40px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

tbody td#nodata{
    text-align: center;
}

#top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#subtitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#subtitle h2 {
    text-align: left;
    font-size: 18px;
}

#message {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#message h1 {
    text-align: left;
    font-size: 14px;
}

#footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}