{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2>
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td> Name </td>
            <td> Price </td>
        </tr>
    </thead>
    <tr>
        <td>
            {{ items.field2 }}
        </td>
        <td>
            {{ items.field4 }}
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td id="tableTitle">
            | 월간 매출액
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>Month</td>
        <td>Total Price</td>
        <td>Item Count</td>
    </tr>
    <tr>
        <td>월별</td>
        <td>총액</td>
        <td>카운트</td>
    </tr>
</table>

<br>

{% include "footer.html" %}