{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2> 
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td>상품ID</td>
            <td>카테고리</td>
            <td>상품명</td>
            <td>가격</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if items.length > 0 %}
            {% for item in items %}
            <tr>
                <td><a href="/itemDetail?itemId={{ item.field1 }}">{{ item.field1 }}</a></td>
                <td>{{ item.field3 }}</td>
                <td>{{ item.field2 }}</td>
                <td>{{ item.field4 }}</td>
            </tr>
            {%  endfor %}
            {% else %}
            <tr>
                <td colspan="4" id="nodata">데이터 없음</td>
            </tr>
            {% endif %}
        </tr>
    </tbody>

</table>
<div class="pagination">
    <ul>
        {% for i in 1..totalPages %}
        <li>                                                         
            <a href="/item?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% include "footer.html" %}