{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2> 
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td>주문ID</td>
            <td>주문일</td>
            <td>매장ID</td>
            <td>사용자ID</td>
        </tr>
    </thead>
    <tbody>
        {% if orders.length > 0 %}
        {% for order in orders %}
        <tr>
            <td><a href="/orderDetail?orderId={{ order.field1 }}">{{ order.field1 }}</a></td>        
            <td>{{ order.field2 }}</td>
            <td>{{ order.field3 }}</td>
            <td>{{ order.field4 }}</td>
        </tr>
        {%  endfor %}
        {% else %}
        <tr>
            <td colspan="5" id="nodata">데이터 없음</td>
        </tr>
        {% endif %}
        </tbody>
</table>
<table class="pagination">
    <tr >
        <td >
            <div id="paginationInBox">
                {% for i in range(1, totalPages + 1) %}
                <div id="pageNo">
                    <a href="/user?page={{ i }}">{{ i }}</a>
                </div>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>
{% include "footer.html" %}