{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2>
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td> orderItemID  </td>
            <td> orderId </td>
            <td> itemId </td>
            <td> itemName </td>
        </tr>
    </thead>
    <tr>
        <td>
            {{ orders.field1 }}
        </td>
        <td>
            {{ orders.field2 }}
        </td>
        <td>
            {{ orders.field3 }}
        </td>
        <td>
            {{ orders.field4 }}
        </td>
    </tr>
</table>
<br>
<table>
<br>

{% include "footer.html" %}