{% include "header.html" %}
{% include "menu.html" %}

<h2> {{ titile }} </h2>
<h1> {{ message }} </h1>

<table>
    <thead>
        <tr>
            <td>매장ID</td>
            <td>매장명</td>
            <td>매장분류</td>
            <td>매장명</td>
            <td>매장주소</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>데이터 없음</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>id01</td>
            <td>store01</td>
            <td>category01</td>
            <td>name01</td>
            <td>address01</td>
        </tr>
    </tbody>
</table>

{{ include "footer.html" }}