{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2> 
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td>매장ID</td>
            <td>매장명</td>
            <td>매장분류</td>
            <td>매장주소</td>
        </tr>
    </thead>
    <tbody>
        {% if stores.length > 0 %}
        {% for store in stores %}
        <tr>
            <td>{{ store.field1 }}</td>
            <td>{{ store.field2 }}</td>
            <td>{{ store.field3 }}</td>
            <td>{{ store.field4 }}</td>
        </tr>
        {%  endfor %}
        {% else %}
        <tr>
            <td colspan="5" id="nodata">데이터 없음</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<div class="pagination">
    <ul>
        {% for i in 1..totalPages %}
        <li>                                                         
            <a href="/store?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% include "footer.html" %}