{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2>
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td>사용자ID</td>
            <td>이름</td>
            <td>성별</td>
            <td>나이</td>
            <td>생년월일</td>
        </tr>
    </thead>
    <tbody>
        {% if users.length > 0 %}
        {% for user in users %}
        <tr>
            <td><a href="/detail?userId={{ user.field1 }}">{{ user.field1 }}</a></td>
            <td>{{ user.field2 }}</td>
            <td>{{ user.field3 }}</td>
            <td>{{ user.field5 }}</td>
            <td>{{ user.field4 }}</td>
        </tr>
        {%  endfor %}
        {% else %}
        <tr>
            <td colspan="5" id="nodata">데이터 없음</td>
        </tr>
        {% endif %}
    </tbody>

</table>
<br>

<table class="pagination">
    <tr >
        <td >
            <div id="paginationInBox">
                {% for i in range(1, totalPages + 1) %}
                <div id="pageNo">
                    <a href="/user?page={{ i }}">{{ i }}</a>
                </div>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>


{% include "footer.html" %}