{% include "header.html" %}
{% include "menu.html" %}

<h2> {{ titile }} </h2>
<h1> {{ message }} </h1>

<table>
    <thead>
        <tr>
            <td>사용자ID</td>
            <td>이름</td>
            <td>성별</td>
            <td>나이</td>
            <td>생년월일</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>데이터 없음</td>
        </tr>
    </tbody>
    <tr>
        <tbody>
            <td>id01</td>
            <td>name01</td>
            <td>gender01</td>
            <td>age01</td>
            <td>birthdate01</td>
        </tbody>
    </tr>

</table>

{% include "footer.html" %}