{% include "header.html" %}
{% include "menu.html" %}

<div class="main" id="subtitle">
    <h2> {{ title }} </h2>
</div>
<div class="main" id="message">
    <h1> |{{ message }} </h1>
</div>

<table>
    <thead>
        <tr>
            <td>사용자ID</td>
            <td>이름</td>
            <td>성별</td>
            <td>나이</td>
            <td>생년월일</td>
        </tr>
    </thead>
    <tbody>
        {% if users.length > 0 %}
        {% for user in users %}
        <tr>
            <td>{{ user.field1 }}</td>
            <td>{{ user.field2 }}</td>
            <td>{{ user.field3 }}</td>
            <td>{{ user.field5 }}</td>
            <td>{{ user.field4 }}</td>
        </tr>
        {%  endfor %}
        {% else %}
        <tr>
            <td colspan="5" id="nodata">데이터 없음</td>
        </tr>
        {% endif %}
    </tbody>

</table>

<div class="pagination">
    <ul id = "pagination-List">
        {% for i in 1..totalPages %}
        <!-- <li>
            <a href="/user?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %} -->
    </ul>
</div>

<script>
    // 클라이언트  페이지네이션 처리
    const currentPage = {{ currentPage }};

    const paginationList = document.getElementById("pagination-list");
    
    // 페이지 네이션 링크 생성
    for (let i = 1; i <= totalPages; i++) {
        const listItem = document.createElement("li");
        const pageLink = document.createElement("a");
        pageLink.href = '/user?page=${i}';
        pageLink.textContent = i;
        if(i === currentPage) {
            listItem.classList.add("active");
        }
        listItem.appendChild(pageLink);
        paginationList.appendChild(listItem);
    }
</script>

{% include "footer.html" %}