<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자정보 삭제</title>
</head>
<body>
    <h1>Delete Member</h1>
    <form id="deleteForm">
        <label for="id">Member ID:</label>
        <input type="text" id="id" placeholder="Enter Member ID" required><br>
        <button type="submit">사용자정보 삭제</button>
    </form>

    <script src="/deleteMember.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>