<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Store Confirmation</title>
</head>
<body>
    <h1>사진 인증</h1>
    <form id="registerStoreConfirmForm">
        <input type="number" id="storeno" placeholder="Store Number" required><br>
        <input type="number" id="confirmed" placeholder="Confirmed (0 or 1)" required><br>
        <button type="submit">사진 인증</button>
    </form>

    <script src="/registerTruckConfirm.js"></script>
</body>
</html>
