<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Similar to updateStore.html -->
</head>
<body>
    <h1>Update Menu Item</h1>
    <form id="updateItemForm" enctype="multipart/form-data">
        <input type="number" id="iditem" placeholder="Item ID" required><br>
        <input type="text" id="itemname" placeholder="Item Name" required><br>
        <input type="file" id="itemimgurl" accept="image/*"><br>
        <input type="text" id="iteminformation" placeholder="Item Information" required><br>
        <input type="number" id="itemprice" placeholder="Item Price" required><br>
        <input type="number" id="storeno" placeholder="Store No" required><br>
        <button type="submit">Update</button>
    </form>

    <script src="/updateItem.js"></script>
</body>
</html>
