<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>회원 가입</h2>
    <div id="loginmail">
        <form>
            <label for="loginText">인증코드 | </label>
            <input type="text" id="loginText" name="enteredCode">
            <button type="button" id="checkCodeButton">인증 코드 확인</button>
        </form>
    </div>
    <div id="guestPass">
        <h2 id="guestMessage"></h2>
    </div>

    <div id="Welcome">
        <h2 id='welcomeMessage'></h2>
    </div>

    <div id="ErrorMessage">
        <h2 id='errorMessage'></h2>
    </div>

    <script>
        document.getElementById("checkCodeButton").addEventListener("click", async function() {
            const enteredCode = document.getElementById("loginText").value;
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/loginText");
            xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8");
            xhr.send(JSON.stringify({ enteredCode }));

            xhr.onreadystatechange = function() {

                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log('전송된 데이터:', response);

                        const welcomeMessage = document.getElementById("welcomeMessage");
                        const errorMessage = document.getElementById("errorMessage");

                        if (response.welcome) {
                            welcomeMessage.textContent = "회원 인증 완료!!";
                            errorMessage.textContent = "";
                        } else {
                            welcomeMessage.textContent = "회원 인증 실패!!";
                            errorMessage.textContent = "에러 메시지: " + response.error;
                        }
                    } else {
                        console.log("서버 오류" + xhr.status);
                        const errorMessage = document.getElementById("errorMessage");
                        errorMessage.textContent = "서버 오류 발생";
                    }
                }
            };
        });
    </script>
</body>
</html>
