<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>회원 가입</h2>
    <div id="loginmail">
        <form action="/login" method="POST">
            <label for="email">이메일 | </label>
            <input type="text" id="email" name="email" autocomplete="email">
            <input type="hidden" id="randomCode" name="randomDcode">
            <button type="submit">인증코드 발송</button>
        </form>
    </div>
    <script>

    </script>
</body>
</html>