body {
    display: flex;
    justify-content: center;
    background-color: orange;
}

.calcurator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.screen {
    display: inline-flex;
    border: 1px solid rgb(216, 216, 216);
    height: 80px;
    justify-content: center;
    align-items: center;
    grid-column: span 4;
    background-color: white;
}

.button {
    display: flex;
    width: 100px;
    height: 80px;
    background-color: rgb(244, 245, 229);
    justify-content: center;
    justify-items: center;
    line-height: 80px;
    border: 0;
}

.button:nth-child(13) {
    background: rgb(255, 200, 137);
}

