
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
h1, h2 {
    text-align: center;
}

#img-box {
    border: 1 solid red;
    width: 80%;
    border: 1;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#img-box td {
    border-spacing: 0;
    border-collapse: collapse;
    align-content: center;
}

#timg {
    width: 100%;
}

#calendar {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1 solid red;
    width: 80%;
    height: 200;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#calendar th {
    background-color: bisque;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

#calendar td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

#calendar th:first-child, #calendar td:first-child {
    color: #ff0000;
}

#calendar th:last-child, #calendar td:last-child {
    color: blue;
}