body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.calendar {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.month {
    font-size: 1.2em;
    font-weight: bold;
}

.prev, .next {
    cursor: pointer;
}

.weekdays, .days {
    display: flex;
    justify-content: space-between;
}

.weekdays span, .days span {
    width: 14%;
    text-align: center;
    padding: 5px 0;
}

.days span:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
